.mediaViewInfo {
    --web-view-name: Web 1366 – 1;
    --web-view-id: Web_1366__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Web_1366__1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Web_1366__1 {
    position: absolute;
    width: 1366px;
    height: 768px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Web 1366 – 1;
    --web-view-id: Web_1366__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Rectangle_1 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1 {
    position: absolute;
    overflow: visible;
    width: 369px;
    height: 531px;
    left: 499px;
    top: 119px;
}
#Online_Calculator {
    left: 521px;
    top: 37px;
    position: absolute;
    overflow: visible;
    width: 325px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(198,68,21,1);
}
#INPUT_BILANGAN {
    left: 521px;
    top: 127px;
    position: absolute;
    overflow: visible;
    width: 171px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(101,81,33,1);
}
#Line_1 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_1 {
    overflow: visible;
    position: absolute;
    width: 369.008px;
    height: 4px;
    left: 499.5px;
    top: 163.5px;
    transform: matrix(1,0,0,1,0,0);
}

.Rectangle_2{
    position: absolute;
    overflow: visible;
    width: 292px;
    height : 38px;
    left: 537px;
    top: 183px;
    border : 2px orange solid;
    border-radius: 2px;
    padding: 5px;
}
.Rectangle_3b{
    position: absolute;
    overflow: visible;
    width: 292px;
    height : 38px;
    left: 537px;
    top: 230px;
    border : 2px orange solid;
    border-radius: 2px;
    padding: 5px;
}

.Rectangle_4 {
    position: absolute;
    background-color: rgba(238,152,0,1);;
    overflow: visible;
    color : white;
    width: 103.395px;
    height: 34px;
    left: 726px;
    border-radius: 3px;
    top: 279px;
}
#Hitung {
    left: 736px;
    top: 279px;
    position: absolute;
    overflow: visible;
    width: 64px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Rectangle_5 {
    fill: rgba(255,255,255,1);
    stroke: rgba(238,152,0,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 292px;
    height: 38px;
    left: 537px;
    top: 231px;
}
#Rectangle_6 {
    fill: rgba(224,217,217,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_6 {
    position: absolute;
    overflow: visible;
    width: 369px;
    height: 325px;
    left: 499px;
    top: 325px;
}
#Rectangle_7 {
    fill: rgba(225,210,159,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_7 {
    position: absolute;
    overflow: visible;
    width: 368px;
    height: 43px;
    left: 500px;
    top: 325px;
}
#HASIL {
    left: 654px;
    top: 333px;
    position: absolute;
    overflow: visible;
    width: 59px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(1,1,1,1);
}
#Rectangle_8 {
    fill: rgba(255,255,255,1);
    stroke: rgba(221,221,221,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 292px;
    height: 33px;
    left: 537px;
    top: 384px;
}
#Rectangle_9 {
    fill: rgba(255,255,255,1);
    stroke: rgba(221,221,221,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_9 {
    position: absolute;
    overflow: visible;
    width: 292px;
    height: 33px;
    left: 537px;
    top: 417px;
}
#Rectangle_10 {
    fill: rgba(244,107,135,1);
    stroke: rgba(9,8,8,1);
    stroke-width: 1.5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_10 {
    position: absolute;
    overflow: visible;
    width: 292px;
    height: 38px;
    left: 537px;
    top: 460px;
}
#Rectangle_11 {
    fill: rgba(226,238,216,1);
    stroke: rgba(9,8,8,1);
    stroke-width: 1.5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_11 {
    position: absolute;
    overflow: visible;
    width: 292px;
    height: 38px;
    left: 537px;
    top: 498px;
}
#Rectangle_12 {
    fill: rgba(244,107,135,1);
    stroke: rgba(9,8,8,1);
    stroke-width: 1.5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_12 {
    position: absolute;
    overflow: visible;
    width: 292px;
    height: 38px;
    left: 537px;
    top: 535px;
}
#Rectangle_13 {
    fill: rgba(226,238,216,1);
    stroke: rgba(9,8,8,1);
    stroke-width: 1.5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_13 {
    position: absolute;
    overflow: visible;
    width: 292px;
    height: 38px;
    left: 537px;
    top: 573px;
}
#Bilangan_pertama__1000 {
    left: 560px;
    top: 390px;
    position: absolute;
    overflow: visible;
    width: 187px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(1,1,1,1);
}
#Bilangan_kedua__1000 {
    left: 560px;
    top: 422px;
    position: absolute;
    overflow: visible;
    width: 167px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(1,1,1,1);
}
#Penambahan__2000 {
    left: 560px;
    top: 468px;
    position: absolute;
    overflow: visible;
    width: 143px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#Pengurangan__2000 {
    left: 560px;
    top: 505px;
    position: absolute;
    overflow: visible;
    width: 145px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(1,1,1,1);
}
#Perkalian__2000 {
    left: 560px;
    top: 542px;
    position: absolute;
    overflow: visible;
    width: 115px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#Pembagian__2000 {
    left: 560px;
    top: 582px;
    position: absolute;
    overflow: visible;
    width: 129px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(1,1,1,1);
}